
 .card{
    margin-top: 5px;
    margin-bottom: 5px;

 }

 .navHeading{
    font-size: 40px;
margin-right: 30px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 #search:focus{
outline: none; 
}

.card{
    background-color: rgb(248, 246, 246);
    border-width: 2px;
    border-color: rgba(61, 106, 98, 0.3);
}

.searchblur::placeholder{
    color:rgb(179, 172, 172);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 12.5px;
}


.searchfocus::placeholder{
    color:rgb(179, 172, 172);
}

@media screen and (min-width: 0px) and (max-width: 575px) {

    #div_nonvisible{
    /* text-align: center;    */
    /* background-color: red; */
    width: 310px;
    margin: 0px auto;
}
#search{
    margin-top: 10px;
    justify-content: space-evenly;
    width: 100px;

}

#dropdown{
    margin-bottom: 10px;
    width: 200px;
    

}

}
@media screen and (min-width: 576px) and (max-width: 989px) {

#dropdown{
    margin-bottom: 15px;
    width: 230px;
}

#search{
    width: 200px;
}

}
@media screen and  (min-width: 990px) {

#dropdown{
    /* margin-bottom: 20px; */
    width: 200px;
}

}
  

@media screen and  (min-width: 1200px) and  (max-width: 1400px){

    #dropdown{
        /* margin-bottom: 15px; */
        width: 170px;
    }
    
    #search{
        width: 140px;
    }

}

#card_btn{
    /* background-color: chartreuse; */
}

#card_btn>button{
    color: blueviolet;
    background-color: cadetblue;
}

button{
    /* background-color: cadetblue; */
    width: 98px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    border-color: rgb(166, 123, 45);
}